body {
  background-color: black;
  color: #888;
  font-family: "Inter", sans-serif;
}

/* 3 Column Container CSS */

.container {
  padding-right: 0 15px;
  margin: 0 auto;
  max-width: 100%;
  clear: both;
  display: flex;
  flex-direction: column;
}

.container .col,
.container .col-50 {
  z-index: 100;
}

/* Header */

/* Logo */

.triangle {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 20px solid white;
  padding-top: 0.2rem;
}

.logo-flex {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.logo {
  display: flex;
}

.logo > .triangle {
  flex: 1;
}

.logo > h2 {
  flex: 200;
}

h2 {
  font-size: 1.75em;
  font-weight: 600;
  color: white;
  padding-left: 0.25rem;
}

header.container > .col,
.container > .col-50 {
  padding: 1.5rem 0;
}

.nav ul {
  list-style: none;
  text-align: center;
  padding: 0 20px;
}

.nav li {
  font-size: 0.9em;
  line-height: 30px;
  height: 30px;
}

.nav a {
  text-decoration: none;
  display: block;
  color: #888;
}

.nav a:hover {
  color: #fff;
}

.nav a.nav-button {
  background-color: white;
  border: 1px solid white;
  border-radius: 5px;
  padding: 0 0.5rem;
  font-weight: 500;
  color: black;
  letter-spacing: 0.05em;
}

.nav a.nav-button:hover {
  color: white;
  background-color: black;
}

/* Middle search section */
h1 {
  font-size: 2.75em;
  font-weight: 600;
  color: white;
}

.backbtn,
.subtitle,
h1 {
  padding: 0 20px;
}

.backbtn,
.subtitle {
  font-size: 0.9em;
  font-weight: 500;
}

.backbtn {
  margin-bottom: 30px;
}

.subtitle {
  margin-top: 30px;
}

.backbtn a {
  text-decoration: none;
  display: block;
  color: #888;
}

.backbtn a:hover {
  color: white;
}

.icon {
  height: 1em;
  vertical-align: -0.125em;
}

/* search container */
.search-box {
  position: relative;
  float: none;
  margin-top: 40px;
  margin-right: 20px;
  margin-left: 20px;
}

.search-box > .icon {
  position: absolute;
  top: 11px;
  left: 15px;
}

.search-box > input {
  padding-left: 40px;
  height: 35px;
  line-height: 35px;
  border: 1px solid #333;
  background: transparent;
  border-radius: 5px;
  color: #888;
  font-size: 0.9em;
  width: calc(100% - 40px);
}

/* Top row */

.p-15 {
  padding: 15px;
}

.topBox {
  border: 2px solid #333;
  border-radius: 5px;
  padding: 30px;
  background-color: #000;
}

.flex-stack {
  --flex: initial;
  --direction: column;
  --align: stretch;
  --justify: flex-start;
}

.flex-stack img {
  object-fit: cover;
  width: 100%;
  border-radius: 5px;
}

.topBox .boxTitle {
  margin-top: 20px;
}

.boxTitle {
  color: #fff;
  font-weight: 500;
}

.boxSubtitle {
  font-size: 0.9em;
  line-height: 20px;
}

.otherBox {
  border: 2px solid #333;
  border-radius: 5px;
  padding: 30px;
}

/* desktop Query */

@media only screen and (min-width: 650px) {
  body:before {
    background: #111;
    border-top: 1px solid #333;
    content: "";
    height: calc(100% - 400px);
    left: 0;
    position: absolute;
    top: 400px;
    width: 100%;
    z-index: 0;
  }
  .container {
    flex-direction: row;
  }
  .container .col {
    float: left;
    flex: 50%;
  }
  .container .col-50 {
    float: left;
    flex: 50%;
  }

  /* nav */
  .nav ul {
    text-align: right;
    padding-right: 0.25rem;
    padding-left: 0;
  }

  .nav li {
    display: inline-block;
    margin-left: 20px;
  }

  .nav li:first-child {
    margin-left: 0;
  }

  .backbtn,
  .subtitle,
  h1 {
    padding: 0;
  }

  .logo-flex {
    padding-left: 0.25rem;
    justify-content: left;
    align-items: left;
  }

  .search-box {
    margin-right: 0;
    margin-left: 0;
    float: right;
  }

  .search-box > input {
    width: 300px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    flex-direction: row;
  }
  .container .col {
    flex: 33.333%;
  }
  .container .col-50 {
    flex: 50%;
  }
}

.container .col p,
.container .col-50 p {
  padding: 0.25rem 0.75rem;
}
